body{
    background-color: blanchedalmond;
    font-size: 18px;
}

.title {
    color:green;
    font-size:38px
}
.title2{

    color:red;
}

#gt{
font-size: 18px;

}

#s{

font-family: 'Courier New', Courier, monospace

}

